{% extends 'home.html' %}

{% block content %}
<h2>Pengeluaran baru</h2>

<form method="post" action="{% url 'pengeluaran_response' %}"  role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="tipe">Jenis :</label>
        <select name="tipe" class="form-control" id="tp">
            <option value="0">Pembelian Bahan Baku</option>
            <option value="1">Pembayaran Utang Usaha</option>
            <option value="2">Penarikan Modal</option>
            <option value="3">Pengeluaran Biaya</option>
        </select>
    </div>

    <div class="form-group hidden" id="jb">
        <label for="jenis-biaya">Jenis :</label>
        <select name="jenis-biaya" class="form-control">
            {% for jenis in biaya %}
                <option value="{{jenis.kode_lv}}">{{jenis.nama}}</option>
            {% endfor %}
            </select>
    </div>
    <div class="form-group" id="bb">
        <label for="jenis-bb">Jenis :</label>
        <select name="jenis-bb" class="form-control">
            {% for jb in bb %}
                <option value="{{jb.kode}}">{{jb.nama}}</option>
            {% endfor %}
            </select>
    </div>
    <div class="form-group" id="bbq">
        <label for="qty">Kuantitas :</label>
        <input type="number" class="form-control" name="qty">
    </div>
    
    <div class="form-group">
        <label for="jumlah">Total Harga:</label>
        <input type="text" class="form-control" name="jumlah">
    </div>
    
    <div class="form-group">
        <label for="details">Keterangan :</label>
        <input type="text" class="form-control" name="details">
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('#tp').change(function(){
        if ($(this).find(':selected').val() == '3'){
            $('#jb').removeClass("hidden");
        }else {
            if ($('#tp').find(':selected').val() == '0'){
                $('#bb').removeClass("hidden");
                $('#bbq').removeClass("hidden");
            }
            else{
                $('#jb').addClass("hidden");
                $('#bb').addClass("form-group hidden");
                $('#bbq').addClass("form-group hidden");
            }
    }
    });
    });
</script>

{% endblock %}
